/*===== user profile =================================================================================================*/

.user-profile {
    background-color: #EFF2F6;
    padding: 30px;
}

.user-profile__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.user-profile__item {
    flex: 1;
    min-width: 280px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
}

.user-profile__img {
    width: 100%;
    max-width: 100%;
    min-width: 50%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border-radius: 10px;
}


.user-profile__item-info {
    padding: 10px;
}

.user-profile__group-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    /*flex-grow: 1;*/
}

.user-profile__text {
    border-radius: 10px;
    padding: 5px 20px;
    min-width: 100%;
    flex: 1 1 auto;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.user-profile__text-inner {
    letter-spacing: 0.4px;
    font-weight: 600;
    opacity: 40%;
}


/* форма */
#user-update-form {
    margin: 0;
}

/*ссылка на изменения*/
.user-profile__group-links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.user-link {
    margin: 0.3vw 0;
    padding: 0.7vw 1.3vw;
    border: 2px solid #d6d6da;
    border-radius: 10px;
}

.user-link:hover {
    background-color: rgba(196, 198, 205, 0.77);
}

.user-link__text {
    color: #151515;
    font-weight: 700;
    position: relative;
    letter-spacing: 1.2px;

}
