{% extends 'base.html' %}

{% block content %}
<section class="password-reset-success-page">
    <div class="password-reset-success-box">
        <h1 class="password-reset-success-title">Пароль восстановлен!</h1>
        <p class="password-reset-success-text">Мы отправили письмо с новым паролем на указанный email.</p>
        <p class="password-reset-success-text">Проверьте почту и войдите в аккаунт, используя новый пароль.<br>
          <span style="color: #ca5555">
            Возможно придется проверить еще и спам.
          </span>
        </p>
        <a href="{% url 'users:login' %}" class="password-reset-success-button">Вернуться ко входу</a>
    </div>
</section>
{% endblock %}