<div class="form-container">
  <form class="form"
        method="post"
        hx-post="{% url 'users:reset-password' %}"
        hx-swap="outerHTML"
  >
    <div class=" form__title">
      Введите почту указанную при регистрации
    </div>
    {% csrf_token %}
    <div class="form__group">
      {% for field in form %}
        <div class="form__group-item">
          <label class="form__group-label">
            {{ field.label }}:{% if field.field.required %} *{% endif %}
          </label>
          <div class="form__group-field">
            {{ field }}
          </div>
          {% if field.errors %}
            <div class="form__group-error">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      {% if message %}
        <div class="alert alert-success">{{ message }}</div>
      {% endif %}
      <button class="btn form__btn" type="submit">
        Отправить
      </button>
    </div>
  </form>
</div>

