{% extends 'base.html' %}
{% load dog_tags %}

{% block content %}
  <form class="form"
        method="post"
        enctype="multipart/form-data"
  >
    <div class="form__title">
      Добавление новой собаки
    </div>
    {% csrf_token %}
    <div class="form__group">
      {% for field in form %}
        <div class="form__group-item">
          {% if field.name == "photo" %}
            <label class="form__group-label">
              {{ field.label }}:{% if field.field.required %} *{% endif %}
            </label>
            <small id="form-dog__requirements"
                   class="form__group-labels-requirements">
              <br>* размер фото не более: 5MB, разрешённые форматы: .jpg, .jpeg, .png.
            </small>
          {% else %}
            <label class="form__group-label">
              {{ field.label }}:{% if field.field.required %} *{% endif %}
            </label>
          {% endif %}
          <div class="form__group-field">
            {% if field.name == "photo" %}
              {% if dog.photo %}
                <p>На данный момент: {{ dog.photo.name|shorten_filename:12 }}</p>
              {% endif %}
              <input type="file" name="photo" id="photo" onchange="previewImage(event)">
              <div id="image-preview-container">
                <img id="image-preview" src="" alt="">
              </div>
            {% else %}
              {{ field }}
            {% endif %}
          </div>
          {% if field.errors %}
            <div class="form__group-error">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <button class="btn form__btn" type="submit">
        Добавить
      </button>
    </div>
  </form>
{% endblock %}
