{% extends 'base.html' %}

{% block content %}
  <form class="form"
        method="post"
        enctype="multipart/form-data"
  >
    <div class="form__title">
      {% if dog %}
        Редактирование собаки: {{ dog.name }}
      {% else %}
        Добавление новой собаки
      {% endif %}
    </div>
    {% csrf_token %}
    <div class="form__group">
      {% for field in form %}
        <div class="form__group-item">
          {% if field.name == "photo" %}
            <label class="form__group-labels">
              {{ field.label }}:
            </label>
            <small id="form-dog__requirements"
                   class="form__group-labels-requirements">
              <br>* размер фото не более: 5MB, разрешённые форматы: .jpg, .jpeg, .png.
            </small>
          {% else %}
            <label class="form__group-label">
              {{ field.label }}:{% if field.field.required %} *{% endif %}
            </label>
          {% endif %}
          <div class="form__group-field">
            {{ field }}
          </div>
          {% if field.errors %}
            <div class="form__group-error">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <button class="btn form__btn" type="submit">
        {% if dog %}
          Сохранить
        {% else %}
          Добавить
        {% endif %}
      </button>
    </div>
  </form>
{% endblock %}



