{% extends 'base.html' %}
{% load dog_tags %}

{% block content %}
  {% include 'includes/title-top.html' %}
  <section class="dog-detail">
    <div class="container">
      <div class="dog-detail__wrapper">
        <div class="dog-detail__item">
          <img class="dog-detail__img" src="{{ dog.photo|dogs_media }}" alt="dog photo">
          <div class="dog-detail__group-info">
            <strong class="dog-detail__group-text">
              Имя: {{ dog.name }}
            </strong>
            <p id="dog-detail__group-text" class="dog-detail__group-text">
              <small>
                <span style="color: #7e7979">Порода:</span> {{ dog.breed }}
                <br><span style="color: #7e7979">Дата рождения:</span> {{ dog.birth_date|date:"d F Y"|default:"Не указано" }}
                <br><span style="color: #7e7979">Хозяин:</span> {{ dog.owner|default:"Без хозяина" }}
                <br><span style="color: #7e7979">Имя хозяина:</span> {{ dog.owner.first_name|default:"Не указано" }}
                <br><span style="color: #7e7979">Телефон хозяина:</span> {{ dog.owner.phone|default:"Не указано" }}
                <br><span style="color: #7e7979">Телеграм хозяина:</span> {{ dog.owner.telegram|default:"Не указано" }}
              </small>
            </p>
          </div>
          {% include 'dogs/dog_includes/dog-detail-buttons.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}