{% extends 'base.html' %}
{% load dog_tags %}

{% block content %}
  <section class="dog-list">
    <div class="container">
      {% if user.is_authenticated and request.path == '/dogs/'%}
        <button class="btn-1-blue"
                hx-get="{% url 'dogs:dogs_list' %}?active=1"
                hx-target="#dog-list"
                hx-swap="innerHTML"
        >
          Мои активные
        </button>
        <button class="btn-1-blue"
                hx-get="{% url 'dogs:dogs_list' %}?active=0"
                hx-target="#dog-list"
                hx-swap="innerHTML"
        >
          Мои неактивные
        </button>
      {% endif %}
      <div id="dog-list">
        {% include 'dogs/dog_includes/dog-list-inner.html' %}
      </div>
    </div>
  </section>
{% endblock %}
